body{
    display: block;
    position: absolute;

    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;
}
#back-box{
    display: flex;
    position: fixed;
    z-index: 1;

    height: 32px;
    width: 100%;

    background-color: #3a3a3a;
}
#back-link{
    cursor: pointer;

    font-size: 16px;
    font-family: Arial;
    font-weight: 500;
    color: #e6e6e6;
    text-decoration: none;

    margin: auto;
    padding-left: 20px;
}
#back-link:hover{
    cursor: pointer;

    font-size: 16px;
    font-family: Arial;
    font-weight: 500;
    color: #c3c3c3;
    text-decoration: none;

    margin: auto;
    padding-left: 20px;
}
#back-link::before{
    content: '';

    display: block;
    position: fixed;
    top: 10px;
    left: 840px;
    
    width: 0;
    border-right: 6px solid #ff0000;
    border-left: 6px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

header{
    display: flex;

    height: 110px;

    margin: 0px;
    margin-top: 32px;
    padding: 0px;

    background-color: #2986ed;
}
nav{
    display: flex;
    position: relative;

    height: 60px;

    margin: 0px;
    padding: 0px;

    background-color: #ffffff;

    box-shadow: 0px 5px 10px #eeeeee;
}
main{
    display: flex;

    height: fit-content;
    min-height: 655px;
    
    margin: 0px;
    padding: 0px;

    background: url(../imgs/BaiduCloud/back.jpg);
}
footer{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    height: 80px;
    width: 100%;

    margin: 0;
    padding-top: 10px;
    padding-bottom: 30px;

    background: url(../imgs/BaiduCloud/back.jpg);
}


/* footer set */
.friend-attach{
    color: #999999;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 20px;
}
#friend-box{
    margin-top: 10px;
    margin-bottom: 10px;
}
.friend-chains
{
    text-decoration: none;

    color: #000000;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 20px;

    padding-left: 10px;
    padding-right: 10px;
}