body{
    display: block;
    position: absolute;

    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;
}
#attach-wrapper{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;

    height: 36px;
    width: 100%;

    background-color: #3d3d3d;
}
#back{
    padding-left: 30px;
    position: fixed;

    text-decoration: none;
    color: #f6f6f6;
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
}
#back:hover{
    padding-left: 30px;
    position: fixed;

    text-decoration: none;
    color: #cccccc;
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
}
#back::before{
    content: '';

    position: absolute;
    left: 0;
    top: 2px;

    height: 0;
    width: 0;

    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #d00000;
}
main{
    display: block;
    height: 100%;
    width: 100%;

    margin-top: 36px;

}