body{
    display: block;
    position: absolute;

    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;
}
header{
    display: block;

    height: 60px;

    margin: 0px;
    padding: 0px;

    background-color: #2c2c2c;
}
main{
    display: block;

    height: fit-content;
    min-height: 1200px;

    margin: 0px;
    padding: 0px;
}
footer{
    display: block;
    
    height: 120px;
    width: 100%;

    margin: 0px;
    padding: 0px;

    background-color: #2c2c2c;
}

/* header wrapper */
#header-wrapper{
    display: flex;

    height: 100%;
    width: auto;

    margin-left: 200px;
    margin-right: 200px;
}
#title-box{
    display: flex;
    align-items: center;

    height: 100%;
    width:fit-content;
}
#title-img{
    height: 38px;
}
#title-span{
    color: #ffffff;
    font-size: 24px;
    font-family: Arial;
    font-weight: 600;

    margin-left: 16px;
}
#connect-box{
    height: 100%;
    width: fit-content;

    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: 0px;
}
#connect-list{
    display: flex;
    align-items: center;

    height: 100%;
    width: fit-content;

    margin: 0px;

    list-style: none;
}

.connect-links{
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;

    height: 32px;
    width: 32px;

    margin-left: 24px;

    background-color: #ffffff;

    border-radius: 100%;
}
.connect-items{
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
}
.app-links{
    height: 24px;
    width: 24px;
}

/* main box */
#main-wrapper{
    display: block;

    height: 100%;
    min-height: 1000px;
    width: auto;

    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
}
.main-lines{
    display: flex;

    height: 240px;
    width: 100%;
}
.blogs{
    display: grid;
    grid-template-rows: 1fr ;

    height: 220px;
    width: 240px;

    margin: auto;

    box-shadow: 0px 0px 3px #6a6a6a;
}