:root{
    --size: 400px;
    --blur: 0px;
    --color: #ffffff; 
}

body{
    display: block;
    position: relative;

    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0;

    background-color: #2a2a2a;
}

/* Home Link */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    height: 30px;
    width: 100%;

    background-color: #333333;
}
#home{
    position: fixed;
    padding: 10px;

    text-decoration: none;
    color: #dddddd;
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
}
#home:hover{
    position: fixed;
    padding-left: 10px;

    text-decoration: none;
    color: #777777;
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
}
#home::before{
    content: '';

    position: absolute;
    left: -12px;
    top: 14px;

    width: 0;
    border-right: 6px solid #d00000;
    border-left: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
}

main{
    display: block;
    position: fixed;

    height: 100%;
    width: 100%;

    margin-top: 30px;

}

.title{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;

    color: var(--color);
    font-size: 60px;
    font-family: Arial;
    font-weight: 800;
}


.controls{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
}
label{
    padding: 10px 10px 10px 50px;

    color: #f6f6f6;
    font-size: 20px;
    font-family: Arial;
    font-weight: 600;
}
.display{
    display: flex;

    width: 100%;
}
.img{
    height: var(--size);

    margin: auto ;

    filter: blur(var(--blur));
}